// Colors ----------------------------------------------------
// Base Theme
$light_gray: #EBEBEB;
$middle_gray: #C7C7C7;
$dark_gray: #7F7F7F;

// Beauty Theme

// Fonts -----------------------------------------------------
$body_font: 'Montserrat', sans-serif;
